.ongoing-exam-info {
    top: -5px;
}

#promoted-green {
    background-color: #009900;
}

#light-green-submit-time {
    background-color: #33ff33;
}

#unpromoted-red {
    background-color: #e60000;
}

#red-submit-time {
    background-color: #ff3333;
}

#light-red-submit-time {
    background-color: #ff6666;
}

.exam-legend-rectangular {
    height: 20px;
    width: 30px;
}

.to-promote-button {
    color: white;
    background-color: #009900;
    border-color: #009900;
}

.to-promote-button:hover, .to-promote-button:active, .to-promote-button:visited {
    color: white;
    background-color: #008000;
    border-color: #008000;
}

.to-no-promote-button {
    color: white;
    background-color: #ff3333;
    border-color: #ff3333;
}

.to-no-promote-button:hover, .to-no-promote-button:active, .to-no-promote-button:visited {
    color: white;
    background-color: #e60000;
    border-color: #e60000;
}

.filter-students-align {
    margin-left: 12px;
}

#filter_students {
    width: 200px;
}

.search-subject {
    margin-left: 12px;
}

.first-margin-left-exam-exercises {
    margin-left: 10px;
}

.second-margin-left-exam-exercises {
    margin-left: 20px;
}

.third-margin-left-exam-exercises {
    margin-left: 20px;
}

.inline-elements {
    display: flex;
    flex-direction:row;
}

.nr-of-ops-per-ex {
    height: 20px;
}

.correct-wrong-options {
    height: 20px;
    width: 50px;
}

.invalid-tooltip {
    opacity: 0.8 !important;
}

.invalid-tooltip-upper {
    margin-top: -5px;
}

.invalid-tooltip-upper-and-right {
    margin-top: -30px;
    margin-left: 25px;
}

.correct-check {
    color: lawngreen;
}

.wrong-check {
    color: red;
}

.exercise-options-higher {
    margin-top: -18px;
}

button {
    outline: none;
}

.home {
    background-image: url('http://localhost/examgenerator/img/home2.png');
}
