.r_relationship {
    font-size: large;
    text-align: center;
    align-content: center;
}

.dependencies-options {
    font-size: large;
}

input[type="checkbox"] {
    position: relative;
    top: 2px;
    transform: scale(1.5)
}

#partial-title {
    text-align: center;
}

#min-points {
    text-align: center;
    color: red;
    font-size: xx-large;
}

#partial-failed {
    text-align: center;
    color: red;
    font-size: 60px;
}

#partial-passed {
    text-align: center;
    color: lawngreen;
    font-size: 60px;
}

#correct-answer {
    background-color: lawngreen;
}

#wrong-answer {
    background-color: red;
}

#correct-answer-text {
    color: lawngreen;
}

#wrong-answer-text {
    color: red;
}

.dropdown-role {
    border: none;
    background: transparent;
}

#exercise-select-same-line {
    display: inline-block;
}

.exam-button {
    font-size: large;
    text-align: center;
    align-content: center;
}

.search-user {
    margin-left: 12px;
}

