
.program-numbers {
    font-weight: bold;
    font-size: 3rem;
    margin-right: 0.5rem;
    font-family: 'Sigmar One', cursive;
    line-height: 1;
}

.program-info-text-l {
    font-size: 1.5rem;
}

.program-info-text-ml {
    font-size: 1.2rem;
}

.program-info-text-m {
    font-size: 1rem;
}

.program-time-text {
    font-size: 1rem;
}
